@{
    ViewBag.Title = "Developers";
}
<h2>@ViewBag.Title</h2>

<div style="display:inline">
<a class="btn btn-default" href="/Seniors/Index">Seniors</a>
<a class="btn btn-default" href="/Intermediates/Index">Intermediates</a>
<a class="btn btn-default" href="/Juniors/Index">Juniors</a>
<a class="btn btn-default" href="/Trainees/Index">Trainees</a>
</div>