@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HR MANAGEMENT</h1>
    <p class="lead">This is the SoftServe's HR management platform</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Management</h2>
        <p>
            You can add new managers and view details of the existing ones. 
        </p>
        <p><a class="btn btn-default" href="http://localhost:63123/Home/Management/Home/Management">Enter here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>You can add and delete developers and view details of the existing ones.</p>
        <p><a class="btn btn-default" href="http://localhost:63123/Home/Management/Home/Developers">Enter here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>You can add new projects and view details of the existing ones.</p>
        <p><a class="btn btn-default" href="http://localhost:63123/Home/Management/Projects">Enter here &raquo;</a></p>
    </div>
</div>