
@{
    ViewBag.Title = "Management";
}


<h2>@ViewBag.Title</h2>

<div style="display:inline">
    <a class="btn btn-default" href="/CEOs/Index">CEO</a>
    <a class="btn btn-default" href="/DeliveryDirectors/Index">Delivery Directors</a>
    <a class="btn btn-default" href="/ProjectManagers/Index">Project Managers</a>
    <a class="btn btn-default" href="/TeamLeaders/Index">Team Leaders</a>
</div>